* {
    margin: 0;
    padding: 0;
}
*:focus {
    outline:none; 
}
body {
    background: #f8f8f8;
    color: #474a54;
}

input {
    margin: 0em;
    font: 13.3333px Arial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font-weight: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar .navbar-inner {
    height: 74px;
    padding: 16px 0;
    line-height: 74px;
    background: #fff;
    color: #2b71b1;
    border-bottom: 1px solid #2b71b1;
}

.header-title {
    font-size: 28px;
}

.account-form {
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.07);
    padding: 20px 40px 30px;
    border-radius: 1px;
}

.session {
    max-width: 440px;
    margin: 40px auto;
}

    .session .account-form h2, .signup-session .account-form h2 {
        font-weight: 400;
    }

    .session h2, .signup-session h2 {
        font-size: 24px;
        margin: 20px 0;
    }

    .session .control-group, .signup-session .control-group {
        margin-bottom: 5px;
    }

.text-field {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear 0.2s,-webkit-box-shadow linear 0.2s;
    transition: border linear 0.2s,box-shadow linear 0.2s;
    -webkit-box-shadow: 0 1px 0px 0 rgba(0,0,0,0.02) inset;
    box-shadow: 0 1px 0px 0 rgba(0,0,0,0.02) inset;
    border-radius: 1px;
    padding: 9px 9px;
    border-color: #ddd;
    width: 100%;
    height: 42px;
}

input.text-field:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #68a4da;
}
#signin_button {
    width: 130px;
    height: 42px;
}