@{
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <canvas id="Doughnutcanvas" style="width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <canvas id="Barcanvas" style="width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <canvas id="linecanvas" style="width: 100%;"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <canvas id="chart-area" style="width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <canvas id="chart-area1" width="300" height="300" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <canvas id="Radarcanvas" height="450" width="450"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
   
    $(function () {

        var barctx = document.getElementById("Barcanvas").getContext("2d");

        barctx.fillRect(10, 10, 20, 20);
    });
    var randomScalingFactor = function () { return Math.round(Math.random() * 100) };
    var radarChartData = {

        labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],

        datasets: [

			{

			    label: "My First dataset",

			    fillColor: "rgba(220,220,220,0.2)",

			    strokeColor: "rgba(220,220,220,1)",

			    pointColor: "rgba(220,220,220,1)",

			    pointStrokeColor: "#fff",

			    pointHighlightFill: "#fff",

			    pointHighlightStroke: "rgba(220,220,220,1)",

			    data: [65, 59, 90, 81, 56, 55, 40]

			},

			{

			    label: "My Second dataset",

			    fillColor: "rgba(151,187,205,0.2)",

			    strokeColor: "rgba(151,187,205,1)",

			    pointColor: "rgba(151,187,205,1)",

			    pointStrokeColor: "#fff",

			    pointHighlightFill: "#fff",

			    pointHighlightStroke: "rgba(151,187,205,1)",

			    data: [28, 48, 40, 19, 96, 27, 100]

			}

        ]

    };




    var polarData = [

				{

				    value: 300,

				    color: "#F7464A",

				    highlight: "#FF5A5E",

				    label: "Red"

				},

				{

				    value: 50,

				    color: "#46BFBD",

				    highlight: "#5AD3D1",

				    label: "Green"

				},

				{

				    value: 100,

				    color: "#FDB45C",

				    highlight: "#FFC870",

				    label: "Yellow"

				},

				{

				    value: 40,

				    color: "#949FB1",

				    highlight: "#A8B3C5",

				    label: "Grey"

				},

				{

				    value: 120,

				    color: "#4D5360",

				    highlight: "#616774",

				    label: "Dark Grey"

				}



    ];




    var pieData = [

				{

				    value: 300,

				    color: "#F7464A",

				    highlight: "#FF5A5E",

				    label: "Red"

				},

				{

				    value: 50,

				    color: "#46BFBD",

				    highlight: "#5AD3D1",

				    label: "Green"

				},

				{

				    value: 100,

				    color: "#FDB45C",

				    highlight: "#FFC870",

				    label: "Yellow"

				},

				{

				    value: 40,

				    color: "#949FB1",

				    highlight: "#A8B3C5",

				    label: "Grey"

				},

				{

				    value: 120,

				    color: "#4D5360",

				    highlight: "#616774",

				    label: "Dark Grey"

				}



    ];


    var lineChartData = {

        labels: ["January", "February", "March", "April", "May", "June", "July"],

        datasets: [

            {

                label: "My First dataset",

                fillColor: "rgba(220,220,220,0.2)",

                strokeColor: "rgba(220,220,220,1)",

                pointColor: "rgba(220,220,220,1)",

                pointStrokeColor: "#fff",

                pointHighlightFill: "#fff",

                pointHighlightStroke: "rgba(220,220,220,1)",

                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]

            },

            {

                label: "My Second dataset",

                fillColor: "rgba(151,187,205,0.2)",

                strokeColor: "rgba(151,187,205,1)",

                pointColor: "rgba(151,187,205,1)",

                pointStrokeColor: "#563d7c",

                pointHighlightFill: "#fff",

                pointHighlightStroke: "rgba(151,187,205,1)",

                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]

            }

        ]



    }




    var doughnutData = [

				{

				    value: 300,

				    color: "#563d7c",

				    highlight: "#FF5A5E",

				    label: "Red"

				},

				{

				    value: 50,

				    color: "#46BFBD",

				    highlight: "#5AD3D1",

				    label: "Green"

				},

				{

				    value: 100,

				    color: "#FDB45C",

				    highlight: "#FFC870",

				    label: "Yellow"

				},

				{

				    value: 40,

				    color: "#949FB1",

				    highlight: "#A8B3C5",

				    label: "Grey"

				},

				{

				    value: 120,

				    color: "#4D5360",

				    highlight: "#616774",

				    label: "Dark Grey"

				}



    ];


    var barChartData = {

        labels: ["January", "February", "March", "April", "May", "June", "July"],

        datasets: [

            {

                fillColor: "rgba(220,220,220,0.5)",

                strokeColor: "rgba(220,220,220,0.8)",

                highlightFill: "rgba(220,220,220,0.75)",

                highlightStroke: "rgba(220,220,220,1)",

                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]

            },

            {

                fillColor: "rgba(151,187,205,0.5)",

                strokeColor: "rgba(151,187,205,0.8)",

                highlightFill: "rgba(151,187,205,0.75)",

                highlightStroke: "rgba(151,187,205,1)",

                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]

            }

        ]



    }
    CreateJavaScript("//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js", load);

    function load() {
        var barctx = document.getElementById("Barcanvas").getContext("2d");

        window.myBar = new Chart(barctx).Bar(barChartData, {

            responsive: true

        });
        var Doughnutctx = document.getElementById("Doughnutcanvas").getContext("2d");

        window.myDoughnut = new Chart(Doughnutctx).Doughnut(doughnutData, { responsive: true });

        var linecanvas = document.getElementById("linecanvas").getContext("2d");

        window.myLine = new Chart(linecanvas).Line(lineChartData, {

            responsive: true

        });
        var Pie = document.getElementById("chart-area").getContext("2d");

        window.myPie = new Chart(Pie).Pie(pieData);

        var PolarArea = document.getElementById("chart-area1").getContext("2d");

        window.myPolarArea = new Chart(PolarArea).PolarArea(polarData, {

            responsive: true

        });

        window.Radar = new Chart(document.getElementById("Radarcanvas").getContext("2d")).Radar(radarChartData, {

            responsive: true

        });



    }
</script>
