@using DMS.BMW.WebUI.Models
@model List<DMS.Entities.SQLEntites.Module>
@{
    Layout = null;
}

<div class="col-sm-3 col-md-2 sidebar">
    <!-- Contenedor -->

    <ul id="accordion" class="accordion">
        @Html.HtmlLeftMenu(Model)
    </ul>

</div>
