@{
    Layout = null;
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">Project name</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle loginout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @HttpContext.Current.User.Identity.Name
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop3">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("LoginOut", "Login")">退 出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="redBorder"></div>
    <div class="greenBorder"></div>
    <div class="yellowBorder"></div>
</nav>
