
@{
    ViewBag.Title = "Calender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/gente/calendar/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/gente/calendar/fullcalendar.print.css" rel="stylesheet" />
<div class="">

    <div class="page-title">
        <div class="title_left">
            <h3>
                Calender
                <small>
                    Click to add/edit events
                </small>
            </h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Calender Events <small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="calendar" class="fc fc-ltr fc-unthemed"><div class="fc-toolbar"><div class="fc-left"><div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right"><span class="fc-icon fc-icon-right-single-arrow"></span></button></div><button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="disabled">today</button></div><div class="fc-right"><div class="fc-button-group"><button type="button" class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active">month</button><button type="button" class="fc-agendaWeek-button fc-button fc-state-default">week</button><button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">day</button></div></div><div class="fc-center"><h2>April 2016</h2></div><div class="fc-clear"></div></div><div class="fc-view-container" style=""><div class="fc-view fc-month-view fc-basic-view"><table><thead class="fc-head"><tr><td class="fc-head-container fc-widget-header"><div class="fc-row fc-widget-header"><table><thead><tr><th class="fc-day-header fc-widget-header fc-sun">Sun</th><th class="fc-day-header fc-widget-header fc-mon">Mon</th><th class="fc-day-header fc-widget-header fc-tue">Tue</th><th class="fc-day-header fc-widget-header fc-wed">Wed</th><th class="fc-day-header fc-widget-header fc-thu">Thu</th><th class="fc-day-header fc-widget-header fc-fri">Fri</th><th class="fc-day-header fc-widget-header fc-sat">Sat</th></tr></thead></table></div></td></tr></thead><tbody class="fc-body"><tr><td class="fc-widget-content"><div class="fc-day-grid-container"><div class="fc-day-grid"><div class="fc-row fc-week fc-widget-content" style="height: 192px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2016-03-27"></td><td class="fc-day fc-widget-content fc-mon fc-other-month fc-past" data-date="2016-03-28"></td><td class="fc-day fc-widget-content fc-tue fc-other-month fc-past" data-date="2016-03-29"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-past" data-date="2016-03-30"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-past" data-date="2016-03-31"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-04-01"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-04-02"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-other-month fc-past" data-date="2016-03-27">27</td><td class="fc-day-number fc-mon fc-other-month fc-past" data-date="2016-03-28">28</td><td class="fc-day-number fc-tue fc-other-month fc-past" data-date="2016-03-29">29</td><td class="fc-day-number fc-wed fc-other-month fc-past" data-date="2016-03-30">30</td><td class="fc-day-number fc-thu fc-other-month fc-past" data-date="2016-03-31">31</td><td class="fc-day-number fc-fri fc-past" data-date="2016-04-01">1</td><td class="fc-day-number fc-sat fc-past" data-date="2016-04-02">2</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div class="fc-content"><span class="fc-time">12a</span> <span class="fc-title">All Day Event</span></div></a></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 192px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-04-03"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-04-04"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-04-05"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-04-06"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2016-04-07"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2016-04-08"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2016-04-09"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-past" data-date="2016-04-03">3</td><td class="fc-day-number fc-mon fc-past" data-date="2016-04-04">4</td><td class="fc-day-number fc-tue fc-past" data-date="2016-04-05">5</td><td class="fc-day-number fc-wed fc-past" data-date="2016-04-06">6</td><td class="fc-day-number fc-thu fc-past" data-date="2016-04-07">7</td><td class="fc-day-number fc-fri fc-past" data-date="2016-04-08">8</td><td class="fc-day-number fc-sat fc-past" data-date="2016-04-09">9</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-not-end fc-draggable"><div class="fc-content"><span class="fc-time">12a</span> <span class="fc-title">Long Event</span></div></a></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 192px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2016-04-10"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2016-04-11"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2016-04-12"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2016-04-13"></td><td class="fc-day fc-widget-content fc-thu fc-today fc-state-highlight" data-date="2016-04-14"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2016-04-15"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2016-04-16"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-past" data-date="2016-04-10">10</td><td class="fc-day-number fc-mon fc-past" data-date="2016-04-11">11</td><td class="fc-day-number fc-tue fc-past" data-date="2016-04-12">12</td><td class="fc-day-number fc-wed fc-past" data-date="2016-04-13">13</td><td class="fc-day-number fc-thu fc-today fc-state-highlight" data-date="2016-04-14">14</td><td class="fc-day-number fc-fri fc-future" data-date="2016-04-15">15</td><td class="fc-day-number fc-sat fc-future" data-date="2016-04-16">16</td></tr></thead><tbody><tr><td class="fc-event-container" colspan="2"><a class="fc-day-grid-event fc-h-event fc-event fc-not-start fc-end fc-draggable"><div class="fc-content"> <span class="fc-title">Long Event</span></div></a></td><td></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div class="fc-content"><span class="fc-time">10:30a</span> <span class="fc-title">Meeting</span></div></a></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div class="fc-content"><span class="fc-time">7p</span> <span class="fc-title">Birthday Party</span></div></a></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 192px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2016-04-17"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2016-04-18"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2016-04-19"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2016-04-20"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2016-04-21"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2016-04-22"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2016-04-23"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-future" data-date="2016-04-17">17</td><td class="fc-day-number fc-mon fc-future" data-date="2016-04-18">18</td><td class="fc-day-number fc-tue fc-future" data-date="2016-04-19">19</td><td class="fc-day-number fc-wed fc-future" data-date="2016-04-20">20</td><td class="fc-day-number fc-thu fc-future" data-date="2016-04-21">21</td><td class="fc-day-number fc-fri fc-future" data-date="2016-04-22">22</td><td class="fc-day-number fc-sat fc-future" data-date="2016-04-23">23</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 192px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2016-04-24"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2016-04-25"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2016-04-26"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2016-04-27"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2016-04-28"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2016-04-29"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2016-04-30"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-future" data-date="2016-04-24">24</td><td class="fc-day-number fc-mon fc-future" data-date="2016-04-25">25</td><td class="fc-day-number fc-tue fc-future" data-date="2016-04-26">26</td><td class="fc-day-number fc-wed fc-future" data-date="2016-04-27">27</td><td class="fc-day-number fc-thu fc-future" data-date="2016-04-28">28</td><td class="fc-day-number fc-fri fc-future" data-date="2016-04-29">29</td><td class="fc-day-number fc-sat fc-future" data-date="2016-04-30">30</td></tr></thead><tbody><tr><td rowspan="2"></td><td rowspan="2"></td><td rowspan="2"></td><td rowspan="2"></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" href="http://google.com/"><div class="fc-content"><span class="fc-time">12a</span> <span class="fc-title">Click for Google</span></div></a></td><td rowspan="2"></td><td rowspan="2"></td></tr><tr><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div class="fc-content"><span class="fc-time">12p</span> <span class="fc-title">Lunch</span></div></a></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 194px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-other-month fc-future" data-date="2016-05-01"></td><td class="fc-day fc-widget-content fc-mon fc-other-month fc-future" data-date="2016-05-02"></td><td class="fc-day fc-widget-content fc-tue fc-other-month fc-future" data-date="2016-05-03"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2016-05-04"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2016-05-05"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2016-05-06"></td><td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2016-05-07"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-number fc-sun fc-other-month fc-future" data-date="2016-05-01">1</td><td class="fc-day-number fc-mon fc-other-month fc-future" data-date="2016-05-02">2</td><td class="fc-day-number fc-tue fc-other-month fc-future" data-date="2016-05-03">3</td><td class="fc-day-number fc-wed fc-other-month fc-future" data-date="2016-05-04">4</td><td class="fc-day-number fc-thu fc-other-month fc-future" data-date="2016-05-05">5</td><td class="fc-day-number fc-fri fc-other-month fc-future" data-date="2016-05-06">6</td><td class="fc-day-number fc-sat fc-other-month fc-future" data-date="2016-05-07">7</td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div></div></div></td></tr></tbody></table></div></div></div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">New Calender Entry</h4>
            </div>
            <div class="modal-body">
                <div id="testmodal" style="padding: 5px 20px;">
                    <form id="antoform" class="form-horizontal calender" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" style="height: 55px;" id="descr" name="descr"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary antosubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel2">Edit Calender Entry</h4>
            </div>
            <div class="modal-body">

                <div id="testmodal2" style="padding: 5px 20px;">
                    <form id="antoform2" class="form-horizontal calender" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <select id="selectUid">
                                    <option value="1">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea id="messageContent" class="form-control" style="height:55px;" id="descr2" name="descr"></textarea>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary antosubmit2">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
<div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
@section programscripts{

    <script src="~/Scripts/gente/moment/moment.min.js"></script>
    <script src="~/Scripts/gente/calendar/fullcalendar.min.js"></script>
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var messageHub = $.connection.messagehub;
        $(function () {

            $.connection.hub.start().done(function () {
                $('.antosubmit2').click(function () {
                    // Call the Send method on the hub.
                    var uid = $('#selectUid').val();
                    var content = $('#messageContent').val();
                    messageHub.server.sendMessage(uid, content, '提醒消息');
                    // Clear text box and reset focus for next comment.
                });
            });

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var started;
            var categoryClass;

            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {
                    $('#fc_create').click();

                    started = start;
                    ended = end

                    $(".antosubmit").on("click", function () {
                        var title = $("#title").val();
                        if (end) {
                            ended = end
                        }
                        categoryClass = $("#event_type").val();

                        if (title) {
                            calendar.fullCalendar('renderEvent', {
                                title: title,
                                start: started,
                                end: end,
                                allDay: allDay
                            },
                                true // make the event "stick"
                            );
                        }
                        $('#title').val('');
                        calendar.fullCalendar('unselect');

                        $('.antoclose').click();

                        return false;
                    });
                },
                eventClick: function (calEvent, jsEvent, view) {
                    //alert(calEvent.title, jsEvent, view);

                    $('#fc_edit').click();
                    $('#title2').val(calEvent.title);
                    categoryClass = $("#event_type").val();

                    $(".antosubmit2").on("click", function () {
                        calEvent.title = $("#title2").val();

                        calendar.fullCalendar('updateEvent', calEvent);
                        $('.antoclose2').click();
                    });
                    calendar.fullCalendar('unselect');
                },
                editable: true,
                events: [{
                    title: 'All Day Event',
                    start: new Date(y, m, 1)
                }, {
                    title: 'Long Event',
                    start: new Date(y, m, d - 5),
                    end: new Date(y, m, d - 2)
                }, {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                }, {
                    title: 'Lunch',
                    start: new Date(y, m, d + 14, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                }, {
                    title: 'Birthday Party',
                    start: new Date(y, m, d + 1, 19, 0),
                    end: new Date(y, m, d + 1, 22, 30),
                    allDay: false
                }, {
                    title: 'Click for Google',
                    start: new Date(y, m, 28),
                    end: new Date(y, m, 29),
                    url: 'http://google.com/'
                }]
            });
        })
    </script>
}