@model List<DMS.Entities.SQLEntites.Hobbites>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title">
    <div class="title_left">
        <h3>
            用户管理
            <small>
                Some examples to get you started <a href="@Url.Action("loginOut","Login")"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
            </small>
        </h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Form Design <small>different form elements</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="hobbitiesView">

            </div>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2>Star Rating</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <h4>Star Ratings<small>Hover and click on a star</small></h4>
                <div>
                    <div id="stars" class="starrr lead"><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span></div>
                    You gave a rating of <span id="count">0</span> star(s)
                </div>


                <p>Also you can give a default rating by adding attribute data-rating</p>
                <div id="stars-existing" class="starrr lead" data-rating="4"><span class="glyphicon .glyphicon-star-empty glyphicon-star"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star"></span><span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span></div>
                You gave a rating of <span id="count-existing">4</span> star(s)


            </div>
        </div>


        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Registration Form <small>Click to validate</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- start form for validation -->
                <form id="demo-form" data-parsley-validate="" novalidate="">
                    <label for="fullname">Full Name * :</label>
                    <input type="text" id="fullname" class="form-control" name="fullname" required="" data-parsley-id="8401"><ul class="parsley-errors-list" id="parsley-id-8401"></ul>

                    <label for="email">Email * :</label>
                    <input type="email" id="email" class="form-control" name="email" data-parsley-trigger="change" required="" data-parsley-id="4704"><ul class="parsley-errors-list" id="parsley-id-4704"></ul>

                    <label>Gender *:</label>
                    <p>
                        M:
                        <div class="iradio_flat-green checked" style="position: relative;">
                            <input type="radio" class="flat" name="gender" id="genderM" value="M" checked="" required="" data-parsley-multiple="gender" data-parsley-id="0925" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                        </div> F:
                        <div class="iradio_flat-green" style="position: relative;">
                            <input type="radio" class="flat" name="gender" id="genderF" value="F" data-parsley-multiple="gender" data-parsley-id="0925" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                        </div>
                    </p>

                    <label>Hobbies (2 minimum):</label>
                    <p style="padding: 5px;">
                        <div class="icheckbox_flat-green" style="position: relative;">
                            <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required="" class="flat" data-parsley-multiple="hobbies" data-parsley-id="2283" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                        </div> Skiing
                        <br>

                        <div class="icheckbox_flat-green" style="position: relative;">
                            <input type="checkbox" name="hobbies[]" id="hobby2" value="run" class="flat" data-parsley-multiple="hobbies" data-parsley-id="2283" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                        </div> Running
                        <br>

                        <div class="icheckbox_flat-green" style="position: relative;">
                            <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" data-parsley-multiple="hobbies" data-parsley-id="2283" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                        </div> Eating
                        <br>

                        <div class="icheckbox_flat-green" style="position: relative;">
                            <input type="checkbox" name="hobbies[]" id="hobby4" value="sleep" class="flat" data-parsley-multiple="hobbies" data-parsley-id="2283" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                        </div> Sleeping
                        <br>
                    </p><ul class="parsley-errors-list" id="parsley-id-multiple-hobbies"></ul>
                    <p>

                        <label for="heard">Heard us by *:</label>
                        <select id="heard" class="form-control" required="" data-parsley-id="4148">
                            <option value="">Choose..</option>
                            <option value="press">Press</option>
                            <option value="net">Internet</option>
                            <option value="mouth">Word of mouth</option>
                        </select><ul class="parsley-errors-list" id="parsley-id-4148"></ul>

                        <label for="message">Message (20 chars min, 100 max) :</label>
                        <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10" data-parsley-id="7309"></textarea><ul class="parsley-errors-list" id="parsley-id-7309"></ul>

                        <br>
                        <span class="btn btn-primary">validate form</span>

                    </p>
                </form>
                <!-- end form for validations -->

            </div>
        </div>


    </div>

    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Form Basic Elements <small>different form elements</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form id="demo-form2" class="form-horizontal form-label-left" action="@Url.Action("AddHobbities")" method="POST" data-ajax="true" data-ajax-loading=".loading-box" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-success="addhobbitiesSuccess">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">主 题*</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="hName" required="required" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">图 片 </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="imageUrl" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">分 类*</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control" name="typeId" required="required">
                                <option value="">Choose option</option>
                                <option value="1">Option one</option>
                                <option value="2">Option two</option>
                                <option value="3">Option three</option>
                                <option value="4">Option four</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            内 容* <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <textarea class="form-control" name="hbDesc" required="required" rows="3" placeholder=""></textarea>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="button" class="btn btn-primary">Cancel</button>
                            <button type="submit" id="btn-add-hobbity" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Form Buttons <small>Sessions</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <form class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Button addons</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">Go!</button>
                                </span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="divider-dashed"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Button addons</label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /btn-group -->
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section programscripts{
    <!-- daterangepicker -->
    <script src="~/Scripts/gente/moment/moment.min.js"></script>
    <script src="~/Scripts/gente/datepicker/daterangepicker.js"></script>
    <!-- chart js -->
    <script src="~/Scripts/gente/chartjs/chart.min.js"></script>
}
@section scripts{
    <script src="~/Scripts/gente/parsley/parsley.min.js"></script>
    <script src="~/Scripts/Validform_v5.3.2_min.js"></script>
    <script>
        $(document).ready(function() {
            $('#btn-add-hobbity').click(function() {
                $("#demo-form2").parsley().validate();
            });
            $("#hobbitiesView").load("@Url.Action("HobbitiesList")");
        });
        function addhobbitiesSuccess() {
            $("#hobbitiesView").load("@Url.Action("HobbitiesList")");
        }
    </script>
}
