@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMS-BMW Login</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand header-title">DMS </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" id="page">

        <div class="session">
            <div class="account-form">
                <h2>Sign In</h2>
                <form class="form-vertical" action="@Url.Action("Login")" accept-charset="UTF-8" method="post">
                    <input name="utf8" type="hidden" value="✓">
                    <div class="control-group">
                        <div class="controls">
                            <input type="text" name="name"  class="focus text-field" placeholder="用户名" tabindex="1" autocomplete="off">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="password" name="password"  class="text-field" placeholder="密码" autocomplete="off" tabindex="2">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls clearfix">
                            <input type="submit" name="commit" value="Sign In" class="btn btn-primary pull-right" id="signin_button" data-disable-with="Signing in..." tabindex="4">
                            <div class="checkbox" style="position: initial;">
                                <label>
                                    <input type="checkbox" name="stay_signed_in" id="stay_signed_in" value="1" tabindex="3"> Keep me signed in on this
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
